@{
    ViewData["Title"] = "Change Password";

}

		<!-- Bootstrap Date-Picker Plugin -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<style>
 
/* Responsive */
.hr {
    height: 2px;
    margin: 0px;
    background: #DDDDDD;
}
.info ul {
    display:block;
}
.info ul li{
    list-style:none;
    float:none;

}
#addlead{
    width:70%;
    margin:auto;
}
#addlead fieldset input{
    border-radius: 5px;
}
#addlead button{
    background-color:rgba(40,57,101,.9);
    border-radius: 5px;
}

.form-group-a{
    width:40%;
    float:left;
   
}
#datefrom li{
    list-style:none;
}
#containerbody h5{
    margin:auto;
}
.form{
	width:60%;
	margin:auto;
}
</style>
 <div id="containerbody">
     <h3>Change Password</h3>
   <br />
	 <h5 style="margin-left:190px;color:green;font-size:23px">@ViewBag.SuccessfullyAddLeads</h5>
     <!--Start page-->
        @using (Html.BeginForm("ChangeNewPasswordAction", "Account", FormMethod.Post))
		{
<div class="wrap">
	<div class="html">
		<div class="form">
		<br/><br/>
		<p style="color: red;font-family:arial;font-size:14px;">@ViewBag.messageChangeNewPassword</p>
		<br>	
  		<input type="password" name="newPassword" placeholder="New Password" class="form-control" aria-describedby="helpId" required>
		<br/><br/>
		
  		<input type="password" name="reTypeNewPassword" placeholder="Confirm New Password" class="form-control" aria-describedby="helpId" required>
		<br><br>
		<button type="submit" style="background-color:#00c8d4;border-radius:30px;width:30%;border:none"class="btn btn-primary">Submit</button>
		<br><br>
		<div class="hr"></div>
		<br>
		<div class="foot-lnk">
			<a href="#forgot">Forgot Password?</a>
		</div>
		<br><br>
	
		</div>
	</div>
</div>
}
     <!--End Home Page-->
 </div>
